div.main-footer(onclick="navigateTo('set-001.html')")
	a.view-all-photos VIEW ALL PHOTOS
	div.right-triangle-large
		include /partials/triangle-right
	div.right-triangle-medium
		include /partials/triangle-right-md
