- var closeFn = 'onMenuClose'

div.menu-container(onclick='showHideMenu(event)')
	div.menu-button Menu
	div.menu-options-container(id='menu-content-handle')
		div.content
			include ./close-x

			div.menu-items
				a.menu-item(class= `${currentPage === 'home' ? 'viewing' : ''}` href="index.html")
					span Home
				a.menu-item(class= `${currentPage === 'photography' ? 'viewing' : ''}` href="set-001.html")
					span Photography
				div.menu-item(class= `${currentPage === 'featured' ? 'viewing' : ''}`)
					span Featured
					include ./chevron
				div.featured-container
					a.sub-menu-item(href="water.html") water
					a.sub-menu-item death valley
					a.sub-menu-item yosemte
