//- mixin scroll_by_text(colorTheme, items)
//- 	div.scroll-by-text(class= colorTheme)
//- 		each item in items
//- 			p.scroll-text= item
//- 			p.scroll-text \//&nbsp;

mixin scroll_by_text(colorTheme, items)
	div.scroll-by-text(class= colorTheme)
		div.scroll-text death valley &nbsp;&nbsp;&nbsp; \ &nbsp;&nbsp;&nbsp; yosemite &nbsp;&nbsp;&nbsp; \ &nbsp;&nbsp;&nbsp; white sands &nbsp;&nbsp;&nbsp; \ &nbsp;&nbsp;&nbsp; alabama hills &nbsp;&nbsp;&nbsp; \ &nbsp;&nbsp;&nbsp; red rocks &nbsp;&nbsp;&nbsp; \ &nbsp;&nbsp;&nbsp; monterey &nbsp;&nbsp;&nbsp; \ &nbsp;&nbsp;&nbsp; santa cruz
