div.main-container-wrapper
  background-color $color.white
  width 100%

  div.main-container
    div.content
      position relative

      div.header-container
        position relative

        div.image-container
          display flex
          flex-direction row-reverse
          overflow hidden

          img.slider-image
            width auto
            height 666px

      div.featured-info-section
        height 647px
        width 100%
        padding-top 104px
        padding-left 142px

        h1.feature-title
          color $color.black
          font-weight 800
          font-size 200px
          line-height 273px
          letter-spacing -0.05em

        div.feature-content-wrapper
          width 675px

          p
            font-weight 500
            font-size 24px
            line-height 33px
            color $color.black
    
      div.spacer
        height 277px
        width 100%
        position relative

@media only screen and (max-width: $breakpoints.small_laptop)
  div.main-container-wrapper
    div.main-container
      div.content
        div.header-container
          div.image-container
            img.slider-image
              height 550px

@media only screen and (max-width: $breakpoints.home)
  div.main-container-wrapper
    div.main-container
      div.content
        div.header-container
          div.image-container
            img.slider-image
              height 425px

@media only screen and (max-width: $breakpoints.home2)
  div.main-container-wrapper
    div.main-container
      div.content
        div.header-container
          div.image-container
            img.slider-image
              height 361px

        div.featured-info-section
          padding-top 60px
          padding-left 80px

          h1.feature-title
            font-size 150px
            line-height 233px

          div.feature-content-wrapper
            width 605px

            p
              font-size 20px
              line-height 29px

        div.spacer
          display none


@media only screen and (max-width: $breakpoints.feature1)
  div.main-container-wrapper
    div.main-container
      div.content
        div.header-container
          div.image-container
            img.slider-image
              height 280px

        div.featured-info-section
          padding-top 40px
          padding-left 60px
          height 550px

          h1.feature-title
            font-size 125px
            line-height 200px

          div.feature-content-wrapper
            width 540px

            p
              font-size 18px
              line-height 27px

        div.spacer
          display none

@media only screen and (max-width: $breakpoints.feature2)
  div.main-container-wrapper
    div.main-container
      div.content
        div.header-container
          div.image-container
            img.slider-image
              height 235px

        div.featured-info-section
          padding-top 0px
          padding-left 20px
          height 500px

          h1.feature-title
            font-size 100px
            line-height 175px

          div.feature-content-wrapper
            width 406px

            p
              font-size 18px
              line-height 27px

        div.spacer
          display none

@media only screen and (max-width: $breakpoints.mobile)
  div.main-container-wrapper
    div.main-container
      div.content
        div.set-navigation-container-tablet
          overflow-x auto

        div.header-container
          div.image-container
            img.slider-image
              width 250px

        div.featured-info-section
          padding-top 0px
          padding-left 20px
          height 370px

          h1.feature-title
            font-size 100px
            line-height 175px

          div.feature-content-wrapper
            width 350px

            p
              font-size 16px
              line-height 24px

        div.spacer
          display none

@media only screen and (max-width: $breakpoints.mobile3)
  div.main-container-wrapper
    div.main-container
      div.content
        div.set-navigation-container-tablet
          overflow-x auto

        div.header-container
          div.image-container
            img.slider-image
              width 175px

        div.featured-info-section
          padding-top 0px
          padding-left 20px
          height 300px

          h1.feature-title
            font-size 75px
            line-height 133px

          div.feature-content-wrapper
            width 275px

            p
              font-size 14px
              line-height 20px

        div.spacer
          display none
