div.main-footer
  background-color $color.black
  position relative
  height 374px
  cursor pointer

  a.view-all-photos
    color $color.white
    position absolute
    bottom 69px
    right 156px
    opacity 0.7
    transition opacity 0.5s
    font-size 16px
    font-weight 800
    line-height 22px
    letter-spacing 0.2em

  svg
    position absolute
    bottom 65px
    right 105px
    transition opacity 0.5s
    opacity 0.7

    path
      fill $color.white

  &:hover
      a.view-all-photos
        opacity 1

      svg
        opacity 1