div.main-container-wrapper
  background-color $color.white
  width 100vw

  div.main-container
    div.content
      div.home-image-and-menu-container
        position relative

        img.home-image
          width 1260px
          height 777px

      div.name-container
        height 577px
        width 100%
        padding-left 142px

        h1.title-name
          color $color.black
          padding-top 54px
          font-size 200px
          font-weight 800
          line-height 233.2px
          letter-spacing -5px

        div.title-content-container
          width 461px

          p.title-content
            color $color.black
            font-weight 500
            font-size 24px
            line-height 32.78px

        div.view-all-link-wrapper
          padding-top 45px
          display flex
          flex-direction row
          align-items center

          a.view-all-photos
            font-weight 500
            font-size 16px
            line-height 21.86px
            letter-spacing 20%
            color $color.gold
            padding-right 24px

          div.view-all-photos-line
            background-color $color.gold
            width 62px
            height 4px
            transition width 0.5s

          &:hover
            div.view-all-photos-line
              width 70%

      div.image-slider-container
        display flex
        flex-direction row
        overflow hidden

        img.slider-image
          width 1004px
          height 669px

