div.main-container-wrapper
  background-color $color.white
  width 100%

  div.main-container
    div.content
      overflow-x hidden

      div.home-image-and-menu-container
        position relative

        img.home-image
          width 1200px
          height auto
          max-width 100%

      div.name-container
        height 577px
        width 100%
        padding-left 142px

        h1.title-name
          color $color.black
          padding-top 54px
          font-size 200px
          font-weight 800
          line-height 233.2px
          letter-spacing -5px

        div.title-content-container
          width 461px

          p.title-content
            color $color.black
            font-weight 500
            font-size 24px
            line-height 32.78px

        div.view-all-link-wrapper
          padding-top 45px
          display flex
          flex-direction row
          align-items center

          a.view-all-photos
            font-weight 500
            font-size 16px
            line-height 21.86px
            letter-spacing 20%
            color $color.gold
            padding-right 24px

            &:hover + div.view-all-photos-line
              width 700px

          div.view-all-photos-line
            background-color $color.gold
            width 62px
            height 4px
            transition width 0.5s

      div.image-slider-container
        display flex
        flex-direction row
        overflow hidden

        img.slider-image
          width 1004px
          height 669px

@media only screen and (max-width: $breakpoints.home)
  div.main-container-wrapper
    div.main-container
      div.content
        div.name-container
          h1.title-name
            font-size 150px
        
          div.view-all-link-wrapper
            a.view-all-photos
              &:hover + div.view-all-photos-line
                width 470px

        div.image-slider-container
          img.slider-image
            height 500px

        div.scroll-by-text
          width 300vw

          p
            font-size 75px

@media only screen and (max-width: $breakpoints.home2)
 div.main-container-wrapper
    div.main-container
      div.content
        div.name-container
          padding-left 75px
          height 400px

          h1.title-name
            font-size 100px
            padding-top 20px
            line-height 150px

          div.title-content-container
            width 550px

            p.title-content
              font-size 20px

          div.view-all-link-wrapper
            a.view-all-photos
              font-size 14px

              &:hover + div.view-all-photos-line
                width 375px

            div.view-all-photos-line
              height 2px

        div.image-slider-container
          img.slider-image
            height 375px

        div.scroll-by-text
          bottom 208px

          p
            font-size 45px
            margin-right 75px

        div.main-footer
          height 274px

          a.view-all-photos
            font-size 14px

          svg
            height 24
            width 24
