div.image-container
  img
    width 575px
    height 383px

  div.content-wrapper
    height 119.8px
    padding-top 25px
    padding-left 24.27px

    p
      font-size 14px
      line-height 19px
      letter-spacing -0.05em
      color $color.black

    p.image-title
      font-weight 800

    p.location
      font-weight normal
