@import "./globals"
@import "./variables"
@import "./main-container"
@import "./home"
@import "./water"
@import "./menu-button"
@import "./set-header"
@import "./navigation"
@import "./set-layout-common"
@import "./grid"
@import "./image-container"
@import "./divider"
@import "./chevron"
@import "./scroll-by-text"
@import "./footer"
@import "./feature-layout-base"

body
  padding 0
  margin 0
  font-family "Avenir"
  background-color $color.white
  // overflow-x hidden

.no-scroll
    overflow hidden

html
  scroll-behavior smooth

// 1920 - desktop
// 1680 - large laptop
// 1440 - smaller laptop
// 375 - mobile
