div.menu-container
  position absolute
  top 40px
  right 40px
  cursor pointer
  z-index 100

  div.menu-button
    display flex
    justify-content left
    align-items center
    padding 40px
    width 344px
    height 80px
    background-color $color.black
    border-radius 100px

    span
      color #FFFFFF
      font-size 24px

  &:hover
    div.menu-button
      span
        // text glow
        // text-shadow 0 0 5px #ffffff
        color #EAEAEA

  div.menu-options-container
    position absolute
    top 0px
    right 16px
    transition width 1s, height 1s, right 0.5s 0.2s, top 0.5s 0.2s, border-radius 1s 0.2s, opacity 0.2s
    width 220px
    height 80px
    background-color $color.black
    border-radius 100px

    div.content
      position relative
      opacity 0
      transition opacity 0.5s, visibility 0.5s
      width 100%
      height 100%
      visibility hidden

      div.menu-items
        opacity 0
        transition opacity 0.3s 1s
        display flex
        flex-direction column
        padding-top 164px
        padding-left 164px

        .menu-item
          display none
          flex-direction row
          width 520px

          &:first-child
            margin-right 20px

          &:hover
            span
              opacity 1

          &.viewing
            span
              opacity 1

          span
            font-weight 800
            font-size 80px
            line-height 109px
            color white
            opacity 0.2
            transition opacity 0.3s

        div.menu-item
          align-items center

          svg.chevron
            opacity 0.2

          span
            margin-right 32px

          &:first-child
            margin-right 20px

        div.featured-container
          display none
          flex-direction column
          opacity 0
          visibility hidden
          transition opacity 1s, visibility 1s

          &.expanded
            opacity 1
            visibility visible

          a.sub-menu-item
            text-transform uppercase
            width 400px
            opacity 0.2
            transition opacity 0.5s ease-in-out

            span
              font-weight 800
              font-size 30px
              line-height 60px
              letter-spacing 0.2em
              color white

            &:hover
              opacity 1

            &.viewing
              opacity 1

      svg.close
        opacity 0
        transition opacity 0.3s 1s
        position absolute
        top 64px
        right 64px
        z-index 201

        path
          stroke $color.white

        &:hover
          path
            stroke #EAEAEA

    &.viewing
      right 0px
      width 100vw
      height 100vh
      top -40px
      right -40px
      border-radius 0px

      div.content
        opacity 1
        visibility visible

        div.menu-items
          opacity 1

          .menu-item
            display flex

          div.featured-container
            display flex

        svg
          opacity 1
