div.menu-container
  position absolute
  top 40px
  right 40px
  cursor pointer
  z-index 100

  div.menu-button
    display none

    span
      display none

  // div.menu-button
  //   display flex
  //   justify-content left
  //   align-items center
  //   padding 40px
  //   width 344px
  //   height 80px
  //   background-color $color.black
  //   border-radius 100px

  //   span
  //     color #FFFFFF
  //     font-size 24px

  &:hover
    div.menu-button
      span
        // text glow
        // text-shadow 0 0 5px #ffffff
        color #EAEAEA

  div.menu-options-container
    position absolute
    top 0px
    right 16px
    transition width 1s, height 1s, right 0.5s 0.2s, top 0.5s 0.2s, border-radius 1s 0.2s, opacity 0.2s
    // width 220px
    width 344px
    height 80px
    background-color $color.black
    border-radius 100px

    span.menu-text
      color #FFFFFF
      font-size 24px
      padding 40px
      line-height 80px
      opacity 1
      transition opacity 0.5s 1s ease-in-out, line-height 0.5s ease-in-out

    div.menu-icon-small
      display none

    div.menu-icon-mobile
      display none

    div.content
      position relative
      opacity 0
      transition opacity 0.5s, visibility 0.5s
      width 100%
      height 100%
      visibility hidden

      div.menu-items
        opacity 0
        transition opacity 0.3s 1s
        display flex
        flex-direction column
        padding-top 164px
        padding-left 164px

        .menu-item
          display none
          flex-direction row
          width 520px

          &:first-child
            margin-right 20px

          &:hover
            span
              opacity 1

          &.viewing
            span
              opacity 1

          span
            font-weight 800
            font-size 80px
            line-height 109px
            color white
            opacity 0.2
            transition opacity 0.3s

        div.menu-item
          align-items center

          svg.chevron
            opacity 0.2

          span
            margin-right 32px

          &:first-child
            margin-right 20px

        div.featured-container
          display none
          flex-direction column
          opacity 0
          visibility hidden
          transition opacity 1s, visibility 1s

          &.expanded
            opacity 1
            visibility visible

          a.sub-menu-item
            text-transform uppercase
            width 400px
            opacity 0.2
            transition opacity 0.5s ease-in-out

            span
              font-weight 800
              font-size 30px
              line-height 60px
              letter-spacing 0.2em
              color white

            &:hover
              opacity 1

            &.viewing
              opacity 1

      svg.close
        opacity 0
        transition opacity 0.3s 1s
        position absolute
        top 64px
        right 100px
        z-index 201

        path
          stroke $color.white

        &:hover
          path
            stroke #EAEAEA

    &.viewing
      width 101vw
      height 101vh
      top -40px
      right -40px
      border-radius 0px

      span.menu-text
        opacity 0
        height 0px
        line-height 0px
        transition opacity 0.5s ease-in-out, line-height 0.5s ease-in-out

      div.content
        opacity 1
        visibility visible

        div.menu-items
          opacity 1

          .menu-item
            display flex

          div.featured-container
            display flex

        svg
          opacity 1

@media only screen and (max-width: $breakpoints.home2)
  div.menu-container
    div.menu-button
      display none

      span
        display none

    div.menu-options-container
      width 56px
      height 56px
      top 0px
      right 0px
      transition all 1s ease-in-out

      &:hover
        div.menu-icon-small
          opacity 1
          transition opacity 0.5s 1s ease-in-out

          svg
            transform rotate(90deg)
            transition transform 0.5s ease-in-out

      &.viewing
          div.menu-icon-small
            opacity 0
            transition opacity 0.5s ease-in-out

      div.menu-icon-small
        display block
        position absolute
        top 16px
        right 15px
        width 24px
        height 24px

        svg
          transform rotate(0deg)
          transition transform 0.3s ease-in-out

      div.content
        div.menu-items
          padding-top 124px
          padding-left 84px

          .menu-item
            span
              font-size 70px
              line-height 100px

          div.featured-container
            a.sub-menu-item
              span
                font-size 24px
                line-height 50px

@media only screen and (max-width: $breakpoints.mobile)
  div.menu-container
    div.menu-button
      display none

      span
        display none

    div.menu-options-container
      width 48px
      height 48px
      top 0px
      right 0px
      transition all 1s ease-in-out

      &:hover
        div.menu-icon-mobile
          opacity 1
          transition opacity 0.5s 1s ease-in-out

          svg
            transform rotate(90deg)
            transition transform 0.5s ease-in-out

      &.viewing
          div.menu-icon-mobile
            opacity 0
            transition opacity 0.5s ease-in-out

      div.menu-icon-small
        display none

      div.menu-icon-mobile
        display block
        position absolute
        top 14px
        right 13px
        width 20px
        height 20px

        svg
          transform rotate(0deg)
          transition transform 0.3s ease-in-out

      div.content
        svg.close
          top 30px
          right 30px

        div.menu-items
          padding-top 80px
          padding-left 18px

          .menu-item
            span
              font-size 56px
              line-height 76px

          div.featured-container
            a.sub-menu-item
              span
                font-size 15px
                line-height 32px
