div.navigation-wrapper
  position sticky
  top 0
  background-color $color.white
  width 30vw
  display flex
  flex-direction column

  .nav-item
    cursor pointer
    height 81px
    display flex
    justify-content flex-start
    padding-left 80px
    align-items center
    border-bottom-style solid
    border-bottom-color $color.black
    border-bottom-width 1px

    &:hover
      span
        font-weight 500

    span.selected-bar
      background-color $color.black
      height 4px
      width 0px
      transition width 0.5s, opacity 0.2s
      opacity 0
      margin-left 16px

    &:first-child
      border-top-style solid
      border-top-color $color.black
      border-top-width 1px

    span
      font-weight normal
      font-size 20px
      line-height 33px
      color $color.black

    &.viewing
      span
        font-weight 800

      span.selected-bar
        opacity 1
        width 95px

@media only screen and (max-width 1280px)
  div.navigation-wrapper
    width 100%
    flex-direction row

    .nav-item
      border none
      flex-direction column
      justify-content center
      align-items flex-start
      padding-left 36px
      width 150px

      span.selected-bar
        margin-left 0

      &:first-child
        border none

      &.viewing
        span
          font-weight 800

        span.selected-bar
          opacity 1
          width 120px

@media only screen and (max-width 1440px)
  div.navigation-wrapper
    .nav-item
      span
        font-size 16px
