div.scroll-by-text
  height 137px
  width 100%

  p
    font-weight 800
    font-size 100px
    line-height 137px
    letter-spacing 0.2em
    color black
    opacity 0.1
    text-transform uppercase
