div.scroll-by-text
  height 137px
  // width 100%
  width 300vw
  background-color transparent
  position absolute
  bottom 309px
  display flex
  flex-direction row

  &.light
    p
      color $color.black

  &.dark
    p
      color $color.white

  p
    font-weight 800
    font-size 100px
    line-height 137px
    letter-spacing 0.2em
    text-transform uppercase
    margin-right 200px
