div.set-header
  height 453px
  width 100%
  padding-top 64px
  padding-left 164px
  position relative

  div.header-container
    p.name
      color $color.black
      font-weight 500
      font-size 24px
      line-height 33px
      letter-spacing -0.05em

    h1.photography-title
      color $color.black
      font-weight 800
      font-size 120px
      line-height 164px
      letter-spacing -0.05em

@media only screen and (max-width: $breakpoints.home)
  div.set-header
    padding-top 100px

@media only screen and (max-width: $breakpoints.home2)
  div.set-header
    padding-left 64px
    padding-top 100px

    div.header-container
      p.name
        font-size 20px

      h1.photography-title
        font-size 94px
        line-height 143px

@media only screen and (max-width: $breakpoints.mobile3)
  div.set-header
    padding-left 64px
    padding-top 100px

    div.header-container
      p.name
        font-size 20px

      h1.photography-title
        font-size 46px
        line-height 76px
