div.set-container-wrapper
  position relative

  div.set-navigation-container-tablet
    display none

  div.set-container
    display flex
    flex-direction row

    @media only screen and (max-width: $breakpoints.tablet)
      div.nav-container
        display none

    div.navigation-wrapper
      padding-right 17.73px

  @media only screen and (max-width: $breakpoints.tablet)
    div.set-navigation-container-tablet
      display block
      position absolute
      top 372px
      width 96vw

@media only screen and (max-width: $breakpoints.mobile)
  div.set-container-wrapper
    div.set-header
      height 216px
      padding-top 88px
      padding-left 16px

      div.header-container
        p.name
          font-size 24px
          font-weight 800
          line-height 33px
          letter-spacing -0.05em

        h1.photography-title
          font-size 56px
          line-height 76px

    div.set-navigation-container-tablet
      position static
      width 100%
      border-bottom $color.black 1px solid
      margin-bottom 20px

      div.navigation-wrapper
        overflow-x scroll

        a.nav-item
          font-size 16px
          font-weight 800
          line-height 22px
          letter-spacing -0.05em
          padding 0
          margin 0
          min-width 95px
          width 95px
          margin-left 20px

          span.selected-bar
            width 95px

    div.set-container
      div.content
        div.divider
          margin-top 0px
          margin-bottom 100px

@media only screen and (max-width: $breakpoints.mobile3)
  div.set-container-wrapper
    div.set-header
      div.header-container
        p.name
          font-size 20px
          line-height 31px

        h1.photography-title
          font-size 46px
          line-height 76px
