// Color map
$color = {
  gold: #BE8F17
  black: #16161A
  white: #F2F2F2
}

// breakpoint sizes
$breakpoints = {
  small_laptop: 1440px
  tablet: 1280px
  home: 1200px
  home2: 900px
  feature1: 750px
  feature2: 600px
  mobile: 500px
  mobile2: 350px
}
