div.main-container-wrapper
  div.main-container
    div.content
      position relative

      div.header-container
        position relative

        div.image-container
          display flex
          flex-direction row-reverse
          overflow hidden

          img.slider-image
            width 1081px
            height 666px

      div.featured-info-section
        height 647px
        width 100%
        padding-top 104px
        padding-left 142px

        h1.feature-title
          color $color.black
          font-weight 800
          font-size 200px
          line-height 273px
          letter-spacing -0.05em

        div.feature-content-wrapper
          width 675px

          p
            font-weight 500
            font-size 24px
            line-height 33px
            color $color.black

      div.spacer
        height 277px
        width 100%
        position relative

        div.tablet-feature-nav
          display none

      div.feature-content
        display flex
        flex-direction row-reverse
        transition all 1s ease-in-out

        div.feature-container
          display none
          transition display 0.5s

          &.viewing
            display block

        div.side-menu
          div.navigation-wrapper
            padding-left 17.92px

@media only screen and (max-width: $breakpoints.tablet)
  div.main-container-wrapper
    div.main-container
      div.content
        div.feature-content
          div.side-menu
            display none

        div.spacer
          div.tablet-feature-nav
            display block
            position absolute
            bottom 0px
            width 100%
            height 75px

            div.navigation-wrapper
              .nav-item
                margin-right 40px
                width 175px
                min-width 175px

                &.viewing
                  span.selected-bar
                    width 170px
