extends ../partials/home-layout
include /partials/scroll-by-text

block variables
	- const currentPage = 'home'
	- const faviconNum = ''
	- const appleFaviconNum = ''

block content
	div.home-image-and-menu-container
		//- make array and pick random one
		img.home-image(src="images/Mountains/bradley-stell-121.jpg" width="1200" height="800" onload="(function(image){image.classList.add('fade-in');})(this)")
		include /partials/menu-button
	div.name-container
		h1.title-name Brad Stell
		div.title-content-container
			p.title-content Photography provides a unique ability to show others the way a person views the world. It shows what holds weight and warrants attention, giving the viewer a window into the photographers mind. I hope my photography inspires awe and leaves you with a desire to go out into the world and make it a better place.
		div.view-all-link-wrapper
			a.view-all-photos(href="set-001.html") VIEW ALL PHOTOS
			div.view-all-photos-line
	div.image-slider-container
		img.slider-image(src="images/Sand/bradley-stell-131.jpg" width="1200" height="800" onload="(function(image){image.classList.add('fade-in');})(this)")
		img.slider-image(src="images/Trees/bradley-stell-11.jpg" width="1200" height="800" onload="(function(image){image.classList.add('fade-in');})(this)")
	include /partials/footer
	+scroll_by_text('dark', ['death valley', 'new york'])
