extends ../partials/home-layout
include /partials/scroll-by-text

block variables
	- const currentPage = "home"

block content
	div.home-image-and-menu-container
		//- make array and pick random one
		img.home-image(src="images/Mountains/bradley-stell-121.jpg")
		include /partials/menu-button
	div.name-container
		h1.title-name Brad Stell
		div.title-content-container
			p.title-content Photography that blah blah blah and does a lot of stuff to draw people in.
		div.view-all-link-wrapper
			a.view-all-photos(href="set-001.html") VIEW ALL PHOTOS
			div.view-all-photos-line
	div.image-slider-container
		img.slider-image(src="images/Sand/bradley-stell-125.jpg")
		//- img.slider-image(src="images/Ocean/bradley-stell-89.jpg")
		img.slider-image(src="images/Trees/bradley-stell-11.jpg")
	include /partials/footer
	+scroll_by_text('dark', ['death valley', 'new york'])
