extends ../partials/set-layout

block variables
	- const setName = 'No. 002'
	- const currentPage = "photography"
	- const faviconNum = '2-'
	- const appleFaviconNum = '-2'

block content
	div.grid.horizontal
		+image_container('Mountains/bradley-stell-121.jpg', 'No. 002.01', 'Alabama Hills, CA', 'landscape')
		+image_container('Mountains/bradley-stell-123.jpg', 'No. 002.02', 'Alabama Hills, CA', 'landscape')

		+image_container('Mountains/bradley-stell-26.jpg', 'No. 002.03', 'Death Valley, CA', 'landscape')
		+image_container('Mountains/bradley-stell-27.jpg', 'No. 002.04', 'Death Valley, CA', 'landscape')

		+image_container('Mountains/bradley-stell-122.jpg', 'No. 002.05', 'Alabama Hills, CA', 'landscape')
		+image_container('Mountains/bradley-stell-172.jpg', 'No. 002.06', 'Alabama Hills, CA', 'landscape')

		+image_container('Mountains/bradley-stell-30.jpg', 'No. 002.07', 'Death Valley, CA', 'landscape')
		+image_container('Mountains/bradley-stell-8.jpg', 'No. 002.08', 'Yosemite, CA', 'landscape')

		+image_container('Mountains/bradley-stell-23.jpg', 'No. 002.09', 'Death Valley, CA', 'landscape')
		+image_container('Mountains/bradley-stell-25.jpg', 'No. 002.10', 'Death Valley, CA', 'landscape')

		+image_container('Mountains/bradley-stell-35.jpg', 'No. 002.11', 'Red Rocks, CO', 'landscape')
		+image_container('Mountains/bradley-stell-6.jpg', 'No. 002.12', 'New Mexico', 'landscape')

		+image_container('Mountains/bradley-stell-120.jpg', 'No. 002.13', 'Sierras, CA', 'landscape')

	div.divider

	div.grid.horizontal
		+image_container('Mountains/bradley-stell-36.jpg', 'No. 002.14', 'Red Rocks, CO', 'portrait')
		+image_container('Mountains/bradley-stell-28.jpg', 'No. 002.15', 'Death Valley, CA', 'portrait')

		+image_container('Mountains/bradley-stell-37.jpg', 'No. 002.16', 'Red Rocks, CO', 'portrait')
		+image_container('Mountains/bradley-stell-34.jpg', 'No. 002.17', 'Red Rocks, CO', 'portrait')

		+image_container('Mountains/bradley-stell-10.jpg', 'No. 002.18', 'Yosemite, CA', 'portrait')
		+image_container('Mountains/bradley-stell-12.jpg', 'No. 002.19', 'Yosemite, CA', 'portrait')

		+image_container('Mountains/bradley-stell-21.jpg', 'No. 002.20', 'Death Valley, CA', 'portrait')
		+image_container('Mountains/bradley-stell-173.jpg', 'No. 002.21', 'Alabama Hills, CA', 'portrait')

		+image_container('Mountains/bradley-stell-22.jpg', 'No. 002.22', 'Death Valley, CA', 'portrait')

	div.divider

	div.grid.horizontal
		+image_container('Mountains/bradley-stell-9.jpg', 'No. 002.23', 'Yosemite, CA', 'landscape-short')
		+image_container('Mountains/bradley-stell-24.jpg', 'No. 002.24', 'Death Valley, CA', 'landscape-short')
