extends ../partials/set-layout

block variables
	- const setName = 'No. 011'
	- const currentPage = "photography"
	- const faviconNum = '11-'
	- const appleFaviconNum = '-11'

block content
	div.grid.horizontal
		+image_container('Trees/bradley-stell-11.jpg', 'No. 011.01', 'Yosemite, CA')
		+image_container('Trees/bradley-stell-40.jpg', 'No. 011.02', 'North Carolina')

		+image_container('Trees/bradley-stell-111.jpg', 'No. 011.03', 'Oregon')
		+image_container('Trees/bradley-stell-112.jpg', 'No. 011.04', 'Oregon')

		+image_container('Trees/bradley-stell-115.jpg', 'No. 011.05', 'Oregon')

	div.divider

	div.grid.horizontal
		+image_container('Trees/bradley-stell-114.jpg', 'No. 011.06', 'Oregon')
