extends ../partials/set-layout

block variables
	- const setName = 'No. 001'
	- const currentPage = "photography"
	- const faviconNum = '-1'

block content
	div.grid.horizontal
		+image_container('Florida/beach-1.jpg', 'No. 001.01', 'Fort Lauderdale . FL', 'portrait')
		+image_container('Florida/beach-2.jpg', 'No. 001.02', 'Fort Lauderdale . FL', 'portrait')

		+image_container('Florida/beach-3.jpg', 'No. 001.03', 'Fort Lauderdale . FL', 'portrait')
		+image_container('Florida/beach-4.jpg', 'No. 001.04', 'Fort Lauderdale . FL', 'portrait')

	div.divider

	div.grid.horizontal
		+image_container('Florida/beach-5.jpg', 'No. 001.05', 'Fort Lauderdale . FL', 'landscape')
		+image_container('Florida/beach-6.jpg', 'No. 001.06', 'Fort Lauderdale . FL', 'landscape')

		+image_container('Florida/beach-7.jpg', 'No. 001.07', 'Fort Lauderdale . FL', 'landscape')
		+image_container('Florida/beach-8.jpg', 'No. 001.08', 'Fort Lauderdale . FL', 'landscape')

		+image_container('Florida/beach-9.jpg', 'No. 001.09', 'Fort Lauderdale . FL', 'landscape')
