extends ../partials/set-layout

block variables
	- const setName = 'No. 008'
	- const currentPage = "photography"
	- const faviconNum = '8-'
	- const appleFaviconNum = '-8'

block content
	div.grid.horizontal
		+image_container('Beach/bradley-stell-53.jpg', 'No. 008.01', 'Santa Cruz, CA', 'landscape')
		+image_container('Beach/bradley-stell-92.jpg', 'No. 008.02', 'Monterey, CA', 'landscape')

		+image_container('Beach/bradley-stell-95.jpg', 'No. 008.03', 'Pebble Beach, CA', 'landscape')
		+image_container('Beach/bradley-stell-99.jpg', 'No. 008.04', 'Pebble Beach, CA', 'landscape')

		+image_container('Beach/bradley-stell-54.jpg', 'No. 008.05', 'Santa Cruz, CA', 'landscape')
		+image_container('Beach/bradley-stell-50.jpg', 'No. 008.06', 'Outer Banks, NC', 'landscape')

		+image_container('Beach/bradley-stell-83.jpg', 'No. 008.07', 'Monterey, CA', 'landscape')
		+image_container('Beach/bradley-stell-93.jpg', 'No. 008.08', 'Monterey, CA', 'landscape')

	div.divider

	div.grid.horizontal
		+image_container('Beach/bradley-stell-46.jpg', 'No. 008.09', 'Outer Banks, NC', 'portrait')
		+image_container('Beach/bradley-stell-56.jpg', 'No. 008.10', 'Santa Cruz, CA', 'portrait')

		+image_container('Beach/bradley-stell-55.jpg', 'No. 008.11', 'Santa Cruz, CA', 'portrait')
		+image_container('Beach/bradley-stell-47.jpg', 'No. 008.12', 'Outer Banks, NC', 'portrait')

		+image_container('Beach/bradley-stell-45.jpg', 'No. 008.13', 'Outer Banks, NC', 'portrait')
