extends ../partials/set-layout

block variables
	- const setName = 'No. 004'
	- const currentPage = "photography"

block content
	div.grid.horizontal
		+image_container('Astro/bradley-stell-33.jpg', 'No. 004.01', 'Badwater Basin, D.V.')
		+image_container('Astro/bradley-stell-152.jpg', 'No. 004.02', 'White Sands, NM')

		+image_container('Astro/bradley-stell-150.jpg', 'No. 004.03', 'Joshua Tree, CA')
		+image_container('Astro/bradley-stell-158.jpg', 'No. 004.04', 'Texas')

		+image_container('Astro/bradley-stell-161.jpg', 'No. 004.05', 'White Sands, NM')
		+image_container('Astro/bradley-stell-157.jpg', 'No. 004.06', 'Texas')

		+image_container('Astro/bradley-stell-160.jpg', 'No. 004.07', 'White Sands, NM')
		+image_container('Astro/bradley-stell-159.jpg', 'No. 004.08', 'White Sands, NM')

	div.divider

	div.grid.horizontal
		+image_container('Astro/bradley-stell-32.jpg', 'No. 004.09', 'Badwater Basin, D.V.')
		+image_container('Astro/bradley-stell-154.jpg', 'No. 004.10', 'White Sands, NM')

	div.divider

	div.grid.horizontal
		+image_container('Astro/bradley-stell-155.jpg', 'No. 004.11', 'White Sands, NM')
		+image_container('Astro/bradley-stell-156.jpg', 'No. 004.12', 'White Sands, NM')
