extends ../partials/set-layout

block variables
	- const setName = 'No. 006'
	- const currentPage = "photography"
	- const faviconNum = '-6'

block content
	div.grid.horizontal
		+image_container('Astro/bradley-stell-33.jpg', 'No. 006.01', 'Badwater Basin, D.V.', 'portrait')
		+image_container('Astro/bradley-stell-152.jpg', 'No. 006.02', 'White Sands, NM', 'portrait')

		+image_container('Astro/bradley-stell-150.jpg', 'No. 006.03', 'Joshua Tree, CA', 'portrait')
		+image_container('Astro/bradley-stell-158.jpg', 'No. 006.04', 'Texas', 'portrait')

		+image_container('Astro/bradley-stell-161.jpg', 'No. 006.05', 'White Sands, NM', 'portrait')
		+image_container('Astro/bradley-stell-157.jpg', 'No. 006.06', 'Texas', 'portrait')

		+image_container('Astro/bradley-stell-160.jpg', 'No. 006.07', 'White Sands, NM', 'portrait')
		+image_container('Astro/bradley-stell-159.jpg', 'No. 006.08', 'White Sands, NM', 'portrait')

	div.divider

	div.grid.horizontal
		+image_container('Astro/bradley-stell-32.jpg', 'No. 006.09', 'Badwater Basin, D.V.', 'square')
		+image_container('Astro/bradley-stell-154.jpg', 'No. 006.10', 'White Sands, NM', 'square')

	div.divider

	div.grid.horizontal
		+image_container('Astro/bradley-stell-155.jpg', 'No. 006.11', 'White Sands, NM', 'landscape-long')
		+image_container('Astro/bradley-stell-156.jpg', 'No. 006.12', 'White Sands, NM', 'landscape-long')
