extends ../partials/set-layout

block variables
	- const setName = 'No. 003'
	- const currentPage = "photography"
	- const faviconNum = '-3'

block content
	div.grid.horizontal
		+image_container('BW/bw-1.jpg', 'No. 003.01', 'Fort Lauderdale . FL', 'landscape')
		+image_container('BW/bw-2.jpg', 'No. 003.02', 'Fort Lauderdale . FL', 'landscape')

	div.divider

	div.grid.horizontal
		+image_container('BW/bw-3.jpg', 'No. 003.05', 'Sait Pete . FL', 'portrait')
		+image_container('BW/bw-4.jpg', 'No. 003.06', 'Fort Lauderdale . FL', 'portrait')

		+image_container('BW/bw-5.jpg', 'No. 003.07', 'Fort Lauderdale . FL', 'portrait')
		+image_container('BW/bw-6.jpg', 'No. 003.08', 'Fort Lauderdale . FL', 'portrait')

		+image_container('BW/bw-7.jpg', 'No. 003.09', 'Fort Lauderdale . FL', 'portrait')
