extends ../partials/set-layout

block variables
	- const setName = 'No. 001'
	- const currentPage = "photography"
	- const faviconNum = '1-'
	- const appleFaviconNum = '-1'

block content
	div.grid.horizontal
		+image_container('Sand/bradley-stell-125.jpg', 'No. 001.01', 'Death Valley . CA', 'landscape')
		+image_container('Sand/bradley-stell-130.jpg', 'No. 001.02', 'Death Valley . CA', 'landscape')

		+image_container('Sand/bradley-stell-132.jpg', 'No. 001.03', 'Death Valley . CA', 'landscape')
		+image_container('Sand/bradley-stell-129.jpg', 'No. 001.04', 'Death Valley . CA', 'landscape')

		+image_container('Sand/bradley-stell-133.jpg', 'No. 001.05', 'Death Valley . CA', 'landscape')
		+image_container('Sand/bradley-stell-170.jpg', 'No. 001.06', 'Death Valley . CA', 'landscape')

	div.divider

	div.grid.horizontal
		+image_container('Sand/bradley-stell-2.jpg', 'No. 001.07', 'White Sands . NM', 'landscape')
		+image_container('Sand/bradley-stell-3.jpg', 'No. 001.08', 'White Sands . NM', 'landscape')

		+image_container('Sand/bradley-stell-4.jpg', 'No. 001.09', 'White Sands . NM', 'landscape')
		+image_container('Sand/bradley-stell-5.jpg', 'No. 001.10', 'White Sands . NM', 'landscape')
