extends ../partials/set-layout

block variables
	- const setName = 'No. 007'
	- const currentPage = "photography"

block content
	div.grid.horizontal
		+image_container('SF/bradley-stell-13.jpg', 'No. 007.01', 'San Fransisco, CA')
		+image_container('SF/bradley-stell-14.jpg', 'No. 007.02', 'San Fransisco, CA')

		+image_container('SF/bradley-stell-15.jpg', 'No. 007.03', 'San Fransisco, CA')
		+image_container('SF/bradley-stell-19.jpg', 'No. 007.04', 'San Fransisco, CA')
