extends ../partials/set-layout

block variables
	- const setName = 'No. 005'
	- const currentPage = "photography"
	- const faviconNum = '-5'

block content
	div.grid.horizontal
		+image_container('Ocean/bradley-stell-78.jpg', 'No. 005.01', 'Monteray, CA', 'landscape-long')
		+image_container('Ocean/bradley-stell-79.jpg', 'No. 005.02', 'Monteray, CA', 'landscape-long')

		+image_container('Ocean/bradley-stell-80.jpg', 'No. 005.03', 'Monteray, CA', 'landscape')
		+image_container('Ocean/bradley-stell-87.jpg', 'No. 005.04', 'Monteray, CA', 'landscape')

		+image_container('Ocean/bradley-stell-61.jpg', 'No. 005.06', 'Santa Cruz, CA', 'landscape')
		+image_container('Ocean/bradley-stell-60.jpg', 'No. 005.05', 'Santa Cruz, CA', 'landscape')

		+image_container('Ocean/bradley-stell-57.jpg', 'No. 005.07', 'Santa Cruz, CA', 'landscape')
		+image_container('Ocean/bradley-stell-59.jpg', 'No. 005.08', 'Santa Cruz, CA', 'landscape')

		+image_container('Ocean/bradley-stell-89.jpg', 'No. 005.09', 'Monteray, CA', 'landscape')
		+image_container('Ocean/bradley-stell-74.jpg', 'No. 005.10', 'Monteray, CA', 'landscape')

		+image_container('Ocean/bradley-stell-160.jpg', 'No. 005.11', 'Bodega Bay, CA', 'landscape')
		+image_container('Ocean/bradley-stell-161.jpg', 'No. 005.12', 'Bodega Bay, CA', 'landscape')

	div.divider

	div.grid.horizontal
		+image_container('Ocean/bradley-stell-20.jpg', 'No. 005.13', 'Sierras, CA', 'landscape')
		+image_container('Ocean/bradley-stell-63.jpg', 'No. 005.14', 'Death Valley, CA', 'landscape')

		+image_container('Ocean/bradley-stell-76.jpg', 'No. 005.15', 'Death Valley, CA', 'landscape')
		+image_container('Ocean/bradley-stell-44.jpg', 'No. 005.16', 'Death Valley, CA', 'landscape')

		+image_container('Ocean/bradley-stell-62.jpg', 'No. 005.17', 'Alabama Hills, CA', 'landscape')
		+image_container('Ocean/bradley-stell-17.jpg', 'No. 005.18', 'Alabama Hills, CA', 'landscape')

		+image_container('Ocean/bradley-stell-41.jpg', 'No. 005.19', 'Alabama Hills, CA', 'landscape')
		+image_container('Ocean/bradley-stell-97.jpg', 'No. 005.20', 'Death Valley, CA', 'landscape')

		+image_container('Ocean/bradley-stell-101.jpg', 'No. 005.21', 'Death Valley, CA', 'landscape')
		+image_container('Ocean/bradley-stell-98.jpg', 'No. 005.22', 'Death Valley, CA', 'landscape')

		+image_container('Ocean/bradley-stell-85.jpg', 'No. 005.23', 'Death Valley, CA', 'landscape')
		+image_container('Ocean/bradley-stell-103.jpg', 'No. 005.24', 'Yosemite, CA', 'landscape')

	div.divider

	div.grid.horizontal
		+image_container('Ocean/bradley-stell-48.jpg', 'No. 005.25', 'Death Valley, CA', 'portrait')
		+image_container('Ocean/bradley-stell-82.jpg', 'No. 005.26', 'Yosemite, CA', 'portrait')

		+image_container('Ocean/bradley-stell-58.jpg', 'No. 005.27', 'Death Valley, CA', 'portrait')
		+image_container('Ocean/bradley-stell-16.jpg', 'No. 005.28', 'Death Valley, CA', 'portrait')
