extends ../partials/set-layout

block variables
	- const setName = 'No. 003'
	- const currentPage = "photography"

block content
	div.grid.horizontal
		+image_container('Ocean/bradley-stell-78.jpg', 'No. 003.01', 'Monteray, CA')
		+image_container('Ocean/bradley-stell-79.jpg', 'No. 003.02', 'Monteray, CA')

		+image_container('Ocean/bradley-stell-80.jpg', 'No. 003.03', 'Monteray, CA')
		+image_container('Ocean/bradley-stell-87.jpg', 'No. 003.04', 'Monteray, CA')

		+image_container('Ocean/bradley-stell-61.jpg', 'No. 003.06', 'Santa Cruz, CA')
		+image_container('Ocean/bradley-stell-60.jpg', 'No. 003.05', 'Santa Cruz, CA')

		+image_container('Ocean/bradley-stell-57.jpg', 'No. 003.07', 'Santa Cruz, CA')
		+image_container('Ocean/bradley-stell-59.jpg', 'No. 003.08', 'Santa Cruz, CA')

		+image_container('Ocean/bradley-stell-89.jpg', 'No. 003.09', 'Monteray, CA')
		+image_container('Ocean/bradley-stell-74.jpg', 'No. 003.10', 'Monteray, CA')

	div.divider

	div.grid.horizontal
		+image_container('Ocean/bradley-stell-20.jpg', 'No. 003.11', 'Sierras, CA')
		+image_container('Ocean/bradley-stell-63.jpg', 'No. 003.12', 'Death Valley, CA')

		+image_container('Ocean/bradley-stell-76.jpg', 'No. 003.13', 'Death Valley, CA')
		+image_container('Ocean/bradley-stell-44.jpg', 'No. 003.14', 'Death Valley, CA')

		+image_container('Ocean/bradley-stell-62.jpg', 'No. 003.15', 'Alabama Hills, CA')
		+image_container('Ocean/bradley-stell-17.jpg', 'No. 003.16', 'Alabama Hills, CA')

		+image_container('Ocean/bradley-stell-41.jpg', 'No. 003.17', 'Alabama Hills, CA')
		+image_container('Ocean/bradley-stell-97.jpg', 'No. 003.18', 'Death Valley, CA')

		+image_container('Ocean/bradley-stell-101.jpg', 'No. 003.19', 'Death Valley, CA')
		+image_container('Ocean/bradley-stell-98.jpg', 'No. 003.20', 'Death Valley, CA')

		+image_container('Ocean/bradley-stell-85.jpg', 'No. 003.21', 'Death Valley, CA')
		+image_container('Ocean/bradley-stell-103.jpg', 'No. 003.22', 'Yosemite, CA')

	div.divider

	div.grid.horizontal
		+image_container('Ocean/bradley-stell-58.jpg', 'No. 003.23', 'Death Valley, CA')
		+image_container('Ocean/bradley-stell-82.jpg', 'No. 003.24', 'Yosemite, CA')

		+image_container('Ocean/bradley-stell-16.jpg', 'No. 003.25', 'Death Valley, CA')
