extends ../partials/set-layout

block variables
	- const setName = 'No. 005'
	- const currentPage = "photography"

block content
	div.grid.horizontal
		+image_container('Structures/bradley-stell-51.jpg', 'No. 005.01', 'Arizona')
		+image_container('Structures/bradley-stell-52.jpg', 'No. 005.02', 'Arizona')

		+image_container('Structures/bradley-stell-64.jpg', 'No. 005.03', 'Northern California')
		+image_container('Structures/bradley-stell-65.jpg', 'No. 005.04', 'Northern California')

		+image_container('Structures/bradley-stell-70.jpg', 'No. 005.05', 'Sacramento, CA')
		+image_container('Structures/bradley-stell-71.jpg', 'No. 005.06', 'Sacramento, CA')

		+image_container('Structures/bradley-stell-109.jpg', 'No. 005.07', 'Oregon')

	div.divider

	div.grid.horizontal
		+image_container('Structures/bradley-stell-67.jpg', 'No. 005.08', 'Sacramento, CA')
		+image_container('Structures/bradley-stell-68.jpg', 'No. 005.09', 'Sacramento, CA')

		+image_container('Structures/bradley-stell-66.jpg', 'No. 005.10', 'Sacramento, CA')
		+image_container('Structures/bradley-stell-69.jpg', 'No. 005.11', 'Sacramento, CA')
