extends ../partials/set-layout

block variables
	- const setName = 'No. 005'
	- const currentPage = "photography"
	- const faviconNum = '5-'
	- const appleFaviconNum = '-5'

block content
	div.grid.horizontal
		+image_container('Abstract/bradley-stell-124.jpg', 'No. 005.01', 'Death Valley, CA', 'landscape')
		+image_container('Abstract/bradley-stell-170.jpg', 'No. 005.02', 'Death Valley, CA', 'landscape')

		+image_container('Abstract/bradley-stell-38.jpg', 'No. 005.03', 'Colorado', 'landscape')
		+image_container('Abstract/bradley-stell-134.jpg', 'No. 005.04', 'Death Valley, CA', 'landscape')

	div.divider

	div.grid.horizontal
		+image_container('Abstract/bradley-stell-48.jpg', 'No. 005.05', 'White Sands, NM', 'portrait')
		+image_container('Abstract/bradley-stell-49.jpg', 'No. 005.06', 'White Sands, NM', 'portrait')

		+image_container('Abstract/bradley-stell-126.jpg', 'No. 005.07', 'Death Valley, CA', 'portrait')
		+image_container('Abstract/bradley-stell-128.jpg', 'No. 005.08', 'Death Valley, CA', 'portrait')

		+image_container('Abstract/bradley-stell-113.jpg', 'No. 005.09', 'Yosemite, CA', 'portrait')
