extends ../partials/set-layout

block variables
	- const setName = 'No. 006'
	- const currentPage = "photography"
	- const faviconNum = '6-'
	- const appleFaviconNum = '-6'

block content
	div.grid.horizontal
		+image_container('Structures/bradley-stell-51.jpg', 'No. 006.01', 'Arizona')
		+image_container('Structures/bradley-stell-52.jpg', 'No. 006.02', 'Arizona')

		+image_container('Structures/bradley-stell-64.jpg', 'No. 006.03', 'Northern California')
		+image_container('Structures/bradley-stell-65.jpg', 'No. 006.04', 'Northern California')

		+image_container('Structures/bradley-stell-70.jpg', 'No. 006.05', 'Sacramento, CA')
		+image_container('Structures/bradley-stell-71.jpg', 'No. 006.06', 'Sacramento, CA')

		+image_container('Structures/bradley-stell-109.jpg', 'No. 006.07', 'Oregon')

	div.divider

	div.grid.horizontal
		+image_container('Structures/bradley-stell-67.jpg', 'No. 006.08', 'Sacramento, CA')
		+image_container('Structures/bradley-stell-68.jpg', 'No. 006.09', 'Sacramento, CA')

		+image_container('Structures/bradley-stell-66.jpg', 'No. 006.10', 'Sacramento, CA')
		+image_container('Structures/bradley-stell-69.jpg', 'No. 006.11', 'Sacramento, CA')
